  body {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 50%;
    height: 40%;
    margin: 30%;
    padding: 10px;
    border: 10px;
    background-color:turquoise;
    box-shadow: block;
  }
  
  h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color:salmon;
    border-bottom: 1px solid #555;    
  }

  span{
    display: flex;
    color: black;
    white-space: pre;
    justify-content: space-between;
  }
  
  .form_block.title { 
    width:10px;
  }
  
  
  p {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  input { 
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  }
  
  
  .loginBtn {
    align-self: center;
    margin: 10px;
    padding: 10px;
  }